@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cabin:ital,wght@0,400..700;1,400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&family=Playwrite+AU+SA:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alata", serif;
  font-weight: 700;
}

#container {
  background-image: url("None.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  filter: blur(8px);
}

#container div {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

#anh {
  width: 270px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
}

#bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#td {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 0 20px black;
}

#btn {
  width: 150px;
  height: 30px;
  background: #9cf;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 30px black;
  margin-top: 20px;
  color: white;
  text-shadow: 0 0 20px black;
  font-size: 16px;
}

#btn i {
  font-size: 16px;
}

#csh {
  position: absolute;
  top: 80px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 40px;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0 0 30px black;
}

#ten {
  color: white;
  margin: 8px;
  text-shadow: 0 0 20px black;
}